div.ifloat {
   text-align: center;
  float: left;
  width: 205px;
  height:220px;
  padding: 10px;
  }

div.ifloat p {
   text-align: center;
   }

 div.icontainer {
	margin:10px;
	text-align: center;
  }

 div.ispacer {
  clear: both;
  }